.Buttons {
  background: transparent;
  position: relative;
  top: -45px;
  margin: auto;
  height: 0px;
  justify-content: center;
  width: 85%;
  z-index: 3;
}

a {
  position: relative;
  padding: 5px;
  max-height: 50px;
  cursor: pointer;
  background-color: #2F9BDA;
  border-radius: 8px;
  color: #ffffff;
  display: inline-block;
}

.forward {
  float: right;
  top: 2px;
  position: relative;
}


