.svg-wrapper {
  width: 75%;
  position: relative;
  margin: auto;
  background-color: #ffffff;
}

.Chart {
  width: calc(100% - 35px);
  position: relative;
}

.tick text {
  font-size: 55px;
}

.tick {
  height: 40px;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 12px;
  background: #B7DBF5;
  border: 2.5px solid #349EDB;
  border-radius: 8px;
  pointer-events: none;
  padding: 8px;
  z-index: 2;
}

.svg-chart {
  padding: 20px;
}

.rule {
  height: 90%;
  position: absolute;
  border-right: 1px dotted #000;
  text-align: right;
}

span {
  margin-right: 0.5em;
}
