header {
  max-height: 110px;
  height: 15vh;
  line-height: 90px;
  text-align: center;
  background-color: #ffffff;
  border-bottom: #349EDB 2.5px solid;
}

.logo {
  max-height: 50px;
}

.header-flex {
  display: flex;
  margin: auto;
  width: 500px;
}

.header-flex * {
  margin: 10px;
}

img {
  background-color: #ffffff;
  min-height: 95px;;
}
